################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Programm_lol/Programm_lol/obj
/Programm_lol/.vs/Programm_lol
/Programm_lol/Programm_lol/bin/Debug/net6.0
/Programm_lol/.vs/ProjectEvaluation
/Program1/.vs/Program1
/Program1/Program1/bin/Debug/net6.0
/Program1/Program1/obj
/Program1/.vs/ProjectEvaluation
