################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Programm_lol/Programm_lol/obj
/Programm_lol/.vs/Programm_lol
