################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Programm_lol/Programm_lol/obj
/Programm_lol/.vs/Programm_lol
/Programm_lol/Programm_lol/bin/Debug/net6.0
/Programm_lol/.vs/ProjectEvaluation
/Program1/.vs/Program1
/Program1/Program1/bin/Debug/net6.0
/Program1/Program1/obj
/Program1/.vs/ProjectEvaluation
/Ex_for_PS2_DL-03.10.2022/Ex_for_PS2_DL-03.10.2022/obj
/Ex_for_PS2_DL-03.10.2022/Ex_for_PS2_DL-03.10.2022/bin/Debug/net6.0
/Ex_for_PS2_DL-03.10.2022/.vs/Ex_for_PS2_DL-03.10.2022/v17
/Ex_for_PS2_DL-03.10.2022/.vs
/Practica_04.10.22/.vs
/Practica_04.10.22/Practica_04.10.22/bin/Debug/net6.0
/Practica_04.10.22/Practica_04.10.22/obj
/Matrix 11.10.22/.vs
/Matrix 11.10.22/Matrix 11.10.22/bin/Debug/net6.0
/Matrix 11.10.22/Matrix 11.10.22/obj
/Matrix_multi/.vs
/Matrix_multi/Matrix_multi/bin/Debug/net6.0
/Matrix_multi/Matrix_multi/obj
/Ulearn_massive/Ulearn_massive/obj
/Ulearn_massive/.vs
/Ulearn_massive
/Savmostoialka/.vs/Savmostoialka/v17
/Savmostoialka/Savmostoialka/obj
/Savmostoialka/Savmostoialka/bin/Debug/net6.0
